body {
    background: linear-gradient(-100deg, #bdc3c7, #2c3e50);
}

.home-container {
    margin-top: 20px;
    
    
  }
  
  .carousel-container {
    margin-bottom: 20px;
  }
  
  .card-grid {
    display: flex;
    flex-wrap: wrap;
    
  }
  
  .card-column {
    padding: 10px;
   
    justify-content: center;
    display: flex;
  }
  
  .custom-card {
    height: 100%; 
    max-width: 300px;
    height: 100%;
    align-items: center;
    display: flex;
    
    background: transparent;
    border: 1px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(10px);
  }

  .cardbt {
    background-color: #ff0000; /* Cor de fundo vermelha */
    color: #ffffff; /* Cor do texto branca */
    border: none; 
    
  }

  .cardbt:hover {
    background-color: white;
  }

  .escrita1 {
    text-align: center;
  }

  .custom-card {
    height: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    transition: transform 0.3s ease-in-out;
  }
  
  .custom-card:hover {
    transform: scale(1.05);
  }
  
  .cardbt:hover {
    background-color: #ffffff;
    color: #ff0000;
  }