/* Home.css */

.home-container {
    margin-top: 20px;
    
    
  }
  
  .carousel-container {
    margin-bottom: 20px;
  }
  
  .card-grid {
    display: flex;
    flex-wrap: wrap;
    
  }
  
  .card-column {
    padding: 10px;
   
    justify-content: center;
    display: flex;
  }
  
  .custom-card {
    height: 100%; /* Garante que os cards tenham a mesma altura */
    max-width: 300px;
    height: 100%;
    align-items: center;
    display: flex;
    
    background: transparent;
    border: 1px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(10px);
  }

  .cardbt {
    background-color: #ff0000; /* Cor de fundo vermelha */
    color: #ffffff; /* Cor do texto branca */
    border: none; 
    
  }

  .cardbt:hover {
    background-color: white;
  }

  .escrita1 {
    text-align: center;
  }